* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #dcdde1;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

header {
  height: 100px;
  line-height: 100px;
  background: linear-gradient(98.3deg, #2e3840 10.6%, #ff0303 97.7%);
  border-bottom: solid 1px #2e3840;
  vertical-align: center;
  text-align: center;
  margin-bottom: 5px;
}

h1 {
  color: #f5f6fa;
}

.model {
  background-color: #f5f6fa;
  width: 700px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  box-shadow: 0 5px 15px 2px #2e3840;

  transition: all 0.5s ease;
}

table {
  table-layout: fixed;
  width: 700px;
  color: #ff0303;
  border-collapse: collapse;
  border: solid 2px #2e3840;
  font-size: 20px;
}

.model:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 15px 2px #2e3840;
}
.first-row {
  background-color: #2e3840;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.footer-table {
  table-layout: fixed;
  width: 2200px;
  color: #ff0303;
  border-collapse: collapse;
  border: solid 2px #2e3840;
  font-size: 20px;
  background-color: #f5f6fa;
  margin-top: 10px;
  box-shadow: 0 5px 15px 2px #2e3840;

  transition: all 0.5s ease;
}

.footer-section {
  display: flex;
  justify-content: center;
  vertical-align: center;
  text-align: center;
}

.footer-table:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 15px 2px #2e3840;
}
